[all:vars]
ansible_user=${ ssh_username }

[all]
%{ for instance in instances ~}
${ instance.fqdn } ansible_host=${~ instance.addresses[0] }
%{ endfor ~}

%{ for group in groups ~}
[${ group }]
	%{~ for instance in instances ~}
		%{~ if instance.labels.group == group ~}
			${~ instance.fqdn }
		%{~ endif ~}
	%{~ endfor ~}

%{ endfor ~}
