#cloud-config

prefer_fqdn_over_hostname: true
fqdn: ${ hostname }
hostname: ${ hostname }

users:
  - name: ${ ssh_username }
    lock_passwd: true
    gecos: Cloud User
    groups: [adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys:
    %{ for ssh_key in ssh_keys ~}
      - ${ ssh_key }
    %{ endfor ~}
